# Build and Release Folders
bin/
bin-debug/
bin-release/
*.css
*.css.map
# Other files and folders
.sass-cache/
.settings/
.idea/
resource/.DS_Store
*.DS_Store
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
